<h2>場所を検索</h2>

<input id="address" type="textbox" value="富士山">
<input type="button" value="検索" onclick="codeAddress()">

<div id='map'></div>

<script>
  let map
  
  function initMap(){
    geocoder = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.3606255, lng: 138.7273634},
      zoom: 12,
    });
  
    marker = new google.maps.Marker({
      position:  {lat: 35.3606255, lng: 138.7273634},
      map: map
    });
  }
  
  let geocoder
  
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
  
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap" async defer></script>