<div class="user-data">
  <%= image_tag "/assets/default.jpeg", :size => '70x70' %>
  <h3>ユーザ名：<%= @user.name %></h3>
</div>
<p class="user-profile">プロフィール：<%= @user.profile %></p>

<%= render 'posts/posts', posts: @posts %>