<div class="user-data">
  <%= render 'users/icon', user: @user %>
  <h3>ユーザ名：<%= @user.name %></h3>
</div>
<p class="user-profile">プロフィール：<%= @user.profile %></p>

<%= render 'posts/posts', posts: @posts %>