<header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a href="/" class="navbar-brand">仮タイトル</a>
    
    <ul class="navbar-nav">
      <li class="nav-item"><%= link_to 'HOME', root_path %></li>
      <li class="nav-item">登録</li>
    </ul>
  </nav>
</header>